body {
  background-color: #FFF;
  margin: 0 auto;
}

h2 {
    padding: 0;
    margin: 0;
}

#page {
    width: 900px;
    margin: 0 auto;
}

/* navigation */
nav {
    top: 0;
    position: fixed;
    width: 100%;
    color: white;
    background-color: black;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    position: relative; 
    float: left;
    width: 80px;
    text-align: center;
}

.blog-title {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.root-container {
    margin: 0 auto;
    max-width: 900px;
}

.main-contents {
    display: block;
    float: left;
    max-width: 750px;
    width: 100%;
    margin-right: 150px;
}

.side-contents {
    float: right;
    vertical-align:top;
    width: 150px;
    margin-left: -150px;
}

.blog-post-summary {
    vertical-align: top;
    display: block;
    float: left;
    width: 250px;
    height: 500px;
}

.featured-image {
    width: 250px;
}

.side-contents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

/*
footer::before {
    content:"";
    display: block;
    clear: both;
}
*/

footer {
    clear: both;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #page {
        width: 750px;
    }
    .side-contents {
        float: left;
        margin-left: 0;
    }
}

@media screen and (max-width: 750px) {
    #page {
        width: 500px;
    }
    .side-contents {
        float: left;
        margin-left: 0;
    }    
}

@media screen and (max-width: 500px) {
    #page {
        width: 250px;
    }
        .side-contents {
        float: left;
        margin-left: 0;
    }    
}